<li class="nav-item p-2">
	<a href="/dashboard" class="nav-link link-dark {{ 'active' if request.endpoint == 'main.dashboard' else '' }}" aria-current="page">
		<i class="fas fa-home text-green"></i>

		<span class="d-none d-lg-inline ms-2">Dashboard</span>
	</a>
</li>
<li class="nav-item p-2">
	<a href="/user" class="nav-link link-dark {{ 'active' if request.endpoint == 'main.user' else '' }}">
		<i class="fas fa-users text-green"></i>

		<span class="d-none d-lg-inline ms-2">Usuarios</span>
	</a>
</li>
<li class="nav-item p-2">
	<a href="/products" class="nav-link link-dark {{ 'active' if request.endpoint == 'main.producto' else '' }}">
		<i class="fas fa-clipboard-list text-green"></i>

		<span class="d-none d-lg-inline ms-2">Productos</span>
	</a>
</li>
<li class="nav-item p-2">
	<a href="/customer" class="nav-link link-dark {{ 'active' if request.endpoint == 'main.customer' else '' }}">
		<i class="fas fa-user-tie text-green"></i>
		<span class="d-none d-lg-inline ms-2">Clientes</span>
	</a>
</li>
<li class="nav-item p-2">
	<a href="/venta" class="nav-link link-dark {{ 'active' if request.endpoint == 'main.venta' else '' }}">

		<i class="fas fa-chart-bar text-green"></i>
		<span class="d-none d-lg-inline ms-2">venta</span>
	</a>
</li>

