<header class="py-3 border-bottom h-navbar" style="background: #f8f9fa;">
	<div>
		<div class="d-flex align-items-center justify-content-between px-5">
			<form class="me-3">
			</form>

			<div class="flex-shrink-0 dropdown">
				<a
					href=""
					class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
					id="dropdownUser"
					data-bs-toggle="dropdown"
					aria-expanded="false"
				>
					<img
						src="./static/img/user.png"
						alt="joan-leyton"
						width="45"
						height="45"
						class="rounded-circle"
					/>
					<span class="mx-2">
						<b> Joan Leyton </b>
						<br />
						<small> Full Stack </small>
					</span>
				</a>
				<ul
					class="dropdown-menu text-small shadow"
					aria-labelledby="dropdownUser"

				>

<li>
						<a class="dropdown-item" href="/my-profile">Mi cuenta</a>
					</li>
<li><hr class="dropdown-divider" /></li>
					<li><a class="dropdown-item" href="/">Salir</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
