<!--movil-->
<div
  class="d-flex flex-column flex-shrink-0 bg-light h-100 d-lg-none"
  style="width: 4.5rem; border-right: 1px solid #c4c8cd;"
>
  <a
    href="/"
    class="d-block p-3 link-dark text-decoration-none"
    title="Icon-only"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    style="height: calc(var(--heigth-navbar) - 1.95rem);position: relative; "
  >

    <img src="./static/img/logo_movil.png" alt="logo-js" style="height: 60px;position: absolute; top: 5px;">
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center"
    style="margin-top: 3rem">
    {% include "components/items-sidebar.html" %}
  </ul>
</div>
<!-- desktop -->
<div
  class="h-100 flex-column flex-shrink-0 p-3 bg-light d-none d-lg-flex"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center justify-content-center link-dark text-decoration-none"
style="height: calc(var(--heigth-navbar) - 1.95rem);position: relative; "

  >
    <img src="./static/img/logo_1.png" alt="logo-js" style="height: calc(var(--heigth-navbar) - 14px);;position: absolute;">

  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    {% include "components/items-sidebar.html" %}
  </ul>
</div>
