

.content-grid {
	display:block;
}

@media (min-width: 768px) {
.content-grid {
	display:grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 0.75rem;
}

}

@media (min-width: 1200px) {

.content-grid {
	display:grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 0.75rem;
}
}
