@font-face {
    font-family: "jet-brains-mono-regular";
    src: url("./font/jet-brains-mono-regular.ttf");
}

:root {
	--heigth-navbar: 70px;
	/*--bg-body: #f3f4f6;*/
	--bg-body: #fff;
}

* {
	font-family: 'Roboto', sans-serif;
	color: rgb(26, 51, 83);
}


.h-navbar{
	height: var(--heigth-navbar);
}
.flex-1{
	flex: 1;
}
.content-body {
	height: calc( 100vh - var(--heigth-navbar) );
	background-color: var(--bg-body);
	overflow-y:auto;
	overflow-x: hidden;
}
.nav-link.active > i  {
	color: var(--bs-light) !important;
}
.content-view{
	margin-top:-1.5rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

.text-green {
	color: #33cc33;
}

.text-color {
    color: rgb(26, 51, 83);
}
.title{
 font-weight: 700 !important; font-size: 17px;
}
.subtitle{
 font-weight: 700 !important; font-size: 30px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #33cc33;
}
.nav-pills .nav-link.active span, .nav-pills .show>.nav-link  span{
			color: #fff;
}
