<script src="./static/js/bootstrap.bundle.min.js"></script>
<script src="./static/js/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script
	type="text/javascript"
	src="{{url_for('static', filename='js/js.js')}} "
></script>

<script
	src="./static/js/jquery-3.6.0.min.js"
></script>
<script src="./static/js/jquery.dataTables.min.js"></script>
