{% extends "index.html" %} {% block content%}

<div class="p-5 bg-light rounded-3">
	<h2 class="fw-bold">Clientes</h2>
</div>
<div class="content-view">
	<div class="card">
		<div class="card-body">
			<div class="d-flex justify-content-between">
				<div>
					<input
						type="search"
						class="form-control"
						placeholder="Buscar cliente"
					/>
				</div>
				<button class="btn btn-primary" onclick="openModal()">
					<i class="fas fa-plus text-white"></i>
					Agregar
				</button>
			</div>
			<div class="table-responsive mt-3">
				<table class="table table-hover" id="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Cliente</th>
							<th scope="col">Tipo de documento</th>
							<th scope="col">Documento de identidad</th>
							<th scope="col">Email</th>
							<th scope="col">Direccion</th>
							<th scope="col" class="text-center">Acciones</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div
	class="modal fade"
	id="modal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Agregar Producto
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form id="customer">
					<div class="row">
						<input type="text" name="id" id="id" hidden />
						<div class="col-md-12">
							<div class="mb-3">
								<label for="nombre_completo" class="form-label">
									Nombre Completo
								</label>
								<input
									type="text"
									name="nombre_completo"
									id="nombre_completo"
									class="form-control"
								/>
							</div>
						</div>


						<div class="col-md-6">
							<div class="mb-3">
								<label
									for="tipo_documento_id"
									class="form-label"
								>
									Tipo de Documento Identidad
								</label>
								<select
									name="tipo_documento_id"
									id="tipo_documento_id"
									class="form-select"
								>
									<option value="">Seleccione</option>
									{% for tipo_documento in tipo_documentos %}
									<option value="{{tipo_documento.id}}">
										{{tipo_documento.nombre}}
									</option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="col-md-6">
							<div class="mb-3">
								<label
									for="documento_identidad"
									class="form-label"
								>
									Documento Identidad
								</label>
								<input
									type="text"
									name="documento_identidad"
									id="documento_identidad"
									class="form-control"
								/>
							</div>
						</div>

						<div class="col-md-12">
							<div class="mb-3">
								<label for="email" class="form-label">
									Email
								</label>
								<input
									type="email"
									name="email"
									id="email"
									class="form-control"
								/>
							</div>
						</div>

						<div class="col-md-12">
							<div class="mb-3">
								<label for="direccion" class="form-label">
									Direccion
								</label>
								<input
									type="direccion"
									name="direccion"
									id="direccion"
									class="form-control"
								/>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal"
				>
					Cerrar
				</button>
				<button type="button" class="btn btn-primary" onclick="sendData()">
					Guardar Cambios
				</button>
			</div>
		</div>
	</div>
</div>

<script src="./static/js/customer.js"></script>
{% endblock %}
