{% extends "index.html" %} {% block content%}
<div>
	<h2 class="border-bottom mb-3">DASHBOARD</h2>

	<section class="row">
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<div class="d-flex align-items-center">
						<div class="flex-grow-1">
							<div
								class="small font-weight-bold text-gray-400 mb-1 title text-color"
							>
								Productos
							</div>
							<div class="subtitle text-color">
								{{total_products}}
							</div>
						</div>
						<div class="ml-2">
							<i class="fas fa-apple-alt fa-2x text-danger"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<div class="d-flex align-items-center">
						<div class="flex-grow-1">
							<div
								class="small font-weight-bold text-gray-400 mb-1 title"
							>
								Total de clientes
							</div>
							<div class="subtitle">{{total_clientes}}</div>
						</div>
						<div class="ml-2">
							<i class="fas fa-users fa-2x text-primary"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<div class="d-flex align-items-center">
						<div class="flex-grow-1">
							<div
								class="small font-weight-bold text-gray-400 mb-1 title"
							>
								Total de ventas
							</div>
							<div class="subtitle">{{total_ventas}}</div>
						</div>
						<div class="ml-2">
							<i
								class="fas fa-dollar-sign fa-2x text-success"
							></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="col-md-12 mt-3">
				<h2 class="border-bottom mb-3">
					Últimos productos registrados
				</h2>
				<div class="table-responsive" >
					<table class="table table-striped table-sm table-bordered">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Producto</th>
								<th scope="col">Precio</th>
								<th scope="col">stock</th>
							</tr>
						</thead>
						<tbody>
							{% for product in products %}
							<tr>
								<td>{{ product.id }}</td>
								<td>{{ product.nombre }}</td>
								<td>{{ product.precio }}</td>
								<td>{{ product.stock }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<section>
		<!-- Lista de clientes-->
		<div class="row">
			<div class="col-md-12 mt-3">
				<h2 class="border-bottom mb-3">
					Clientes
				</h2>
				<div class="table-responsive">
					<table class="table table-striped table-sm table-bordered">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nombre Y Apellido</th>
								<th scope="col">Email</th>
								<th scope="col">Documento de identidad</th>
								<th scope="col">Direccion</th>
							</tr>
						</thead>
						<tbody>
							{% for cliente in clientes %}
							<tr>
								<td>{{ cliente.id }}</td>
								<td>{{ cliente.nombre_completo }}</td>
								<td>{{ cliente.email }}</td>
								<td>{{ cliente.documento_identidad }}</td>
								<td>{{ cliente.direccion }}</td>

							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
	</section>
</div>
<script src="./static/js/dashboard.js"></script>

{% endblock %}
