{% extends "index.html" %} {% block content%}

<div class="p-5 bg-light rounded-3">
	<h2 class="fw-bold">Extra</h2>
</div>
<div class="content-view">
	<div class="card">
		<div class="card-body">
			<h4 class="mb-3">
				Reproductor de musica
			</h4>
			<audio src="./static/sound/_tobu.mp3" controls="controls" type="audio/mpeg" preload="preload">
			</audio>

			<hr>

		</div>
	</div>
</div>
{% endblock %}
