<!DOCTYPE html>
<html lang="es">
	<head>
		{% include "app/header.html "%}
		{% include "app/scripts.html "%}
	</head>
	<body>
		<div class="vh-100 d-flex">
			{% include "components/sidebar.html" %}
			<div class="flex-1">
				{% include "components/navbar.html" %}
				<div class="content-body p-3">
					{% block content%} {% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
