<html lang="es">
	<head>
		{% include "app/header.html "%}
		<link rel="stylesheet" href="./static/css/login.css" />
	</head>
	<body class="text-center">
      <div class="card" style="border-radius: 0.625rem;">
        <div class="card-body">
          <main class="form-signin">
            <form  >
              <img class="mb-2" src="./static/img/logo.png" alt="" height="140">
              <h1 class="h3 mb-3 fw-normal">Bienvenido</h1>

              <br>
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  placeholder="nombre de usuario"
                  autocomplete="off"
                  />
                <label for="nombre">Usuario</label>
              </div>
              <br>
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control"
                  id="clave"
                  placeholder="Contraseña"
                  autocomplete="off"
                  />
                <label for="clave">Contraseña</label>
              </div>
              <br>

              <button class="w-100 btn btn-lg btn-primary" type="button" onclick="login()">Ingresar</button>
              <p class="mt-5 mb-3 text-muted">Todos los derechos reservados &copy; 2022</p>
            </form>
          </main>
        </div>
      </div>

      <script src="./static/js/login.js"></script>
		{% include "app/scripts.html "%}
	</body>
</html>
