{% extends "index.html" %} {% block content%}

<div class="p-5 bg-light rounded-3">
	<h2 class="fw-bold">Productos</h2>
</div>
<div class="content-view">
	<div class="card">
		<div class="card-body">
			<div class="d-flex justify-content-between">
				<div class="d-flex"></div>
				<button
					class="btn btn-primary"
					onclick="openModal()"
				>
					<i class="fas fa-plus text-white"></i>
					Agregar
				</button>
			</div>
			<div class="table-responsive mt-3">
				<table class="table" id="table">
					<thead>
						<tr>
							<th>#</th>
							<th scope="col">Producto</th>
							<th scope="col">Precio</th>
							<th scope="col">Stock</th>
							<th scope="col">Stock minimo</th>
							<th scope="col" class="text-center">Acciones</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div
	class="modal fade"
	id="modal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-title">
					Agregar Producto
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form id="product">
					<input
						type="text"
						name="id"
						id="id"
						class="form-control"
						hidden
					/>
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3">
								<label for="nombre" class="form-label">
									Nombre</label
								>
								<input
									type="text"
									name="nombre"
									id="nombre"
									class="form-control"
								/>
							</div>
						</div>

						<div class="col-md-6">
							<div class="mb-3">
								<label for="precio" class="form-label">
									Precio
								</label>
								<input
									type="number"
									name="precio"
									id="precio"
									class="form-control"
								/>
							</div>
						</div>

						<div class="col-md-6">
							<div class="mb-3">
								<label for="stock" class="form-label">
									Stock
								</label>
								<input
									type="number"
									name="stock"
									id="stock"
									class="form-control"
								/>
							</div>
						</div>

						<div class="col-md-6">
							<div class="mb-3">
								<label for="stock_minimo" class="form-label">
									Stock Minimo
								</label>
								<input
									type="number"
									name="stock_minimo"
									id="stock"
									class="form-control"
								/>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal"
				>
					Cerrar
				</button>
				<button
					type="button"
					class="btn btn-primary"
					onclick="sendData()"
				>
					Guardar Cambios
				</button>
			</div>
		</div>
	</div>
</div>
<script src="./static/js/product.js"></script>
{% endblock %}
