{% extends "index.html" %} {% block content%}
<link rel="stylesheet" href="./static/css/profile.css" />

<div class="p-5 bg-light rounded-3">
	<h2 class="fw-bold">Perfil</h2>
</div>
<div class="content-view">
	<div class="card">
		<div class="card-body">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button
						class="nav-link active"
						id="info-personal"
						data-bs-toggle="tab"
						data-bs-target="#info"
						type="button"
						role="tab"
						aria-controls="info-personal"
						aria-selected="true"
					>
						Información Personal
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button
						class="nav-link"
						id="security-tab"
						data-bs-toggle="tab"
						data-bs-target="#security"
						type="button"
						role="tab"
						aria-controls="security-tab"
						aria-selected="false"
					>
						Seguridad
					</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div
					class="tab-pane fade show active"
					id="info"
					role="tabpanel"
					aria-labelledby="info"
				>
					<div class="content-grid p-3">
						<div class="mt-3">
							<div class="card card-body text-center h-100">
								<img
									src="./static/img/user.png"
									alt="joan-leyton"
									class="img-fluid img-thumbnail rounded-circle"
								/>
								<button class="btn btn-primary mt-3">
									Subir Imagen
								</button>
							</div>
						</div>
						<div class="mt-3">
							<div class="card h-100">
								<div class="card-body">
									<form>
										<div class="row">
											<div class="col-md-6">
												<div class="mb-3">
													<label
														for="name"
														class="form-label"
													>
														Nombre
													</label>
													<input
														type="text"
														class="form-control"
														name="name"
													/>
												</div>
											</div>

											<div class="col-md-6">
												<div class="mb-3">
													<label
														for="lastname"
														class="form-label"
													>
														Apellidos
													</label>
													<input
														type="text"
														class="form-control"
														name="lastname"
													/>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="mb-3">
													<label
														for="phone_number"
														class="form-label"
													>
														Telefono
													</label>
													<input
														type="number"
														class="form-control"
														name="phone_number"
													/>
												</div>
											</div>

											<div class="col-md-6">
												<div class="mb-3">
													<label
														for="role"
														class="form-label"
													>
														Cargo
													</label>
													<input
														type="text"
														class="form-control"
														name="role"
													/>
												</div>
											</div>
										</div>
										<div class="mb-3">
											<label
												for="birthday"
												class="form-label"
											>
												Fecha Nac.
											</label>
											<input
												type="date"
												class="form-control"
												name="birthday"
											/>
										</div>

										<div class="mb-3">
											<label
												for="email"
												class="form-label"
											>
												Email
											</label>
											<input
												type="email"
												class="form-control"
												name="email"
											/>
										</div>

										<div class="">
											<button class="btn btn-primary">
												Guardar
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="tab-pane fade"
					id="security"
					role="tabpanel"
					aria-labelledby="security"
				>
					<div class="row">
						<div class="col-md-8">
							<form class="p-3">
								<div class="mb-3">
									<label
										for="password-current"
										class="form-label"
									>
										Actual Contraseña</label
									>
									<input
										type="password"
										name="password-current"
										class="form-control"
										placeholder="Actual Contraseña"
									/>
								</div>
								<div class="mb-3">
									<label for="password" class="form-label">
										Nueva Contraseña</label
									>
									<input
										type="password"
										name="password"
										class="form-control"
										placeholder="Nueva Contraseña"
									/>
								</div>

								<div class="mb-3">
									<label
										for="password-check"
										class="form-label"
									>
										Confirmar Contraseña</label
									>
									<input
										type="password"
										name="password-check"
										class="form-control"
										placeholder="Confirmar Contraseña"
									/>
								</div>
								<div class="">
									<button class="btn btn-primary">
										Guardar
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
