{% extends "index.html" %} {% block content%}

<div class="p-5 bg-light rounded-3">
	<h2 class="fw-bold">Venta </h2>
</div>
<div class="content-view">
	<div class="">
		<div class="">
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-7">
									<form id="form">
										<label for="producto"> Producto</label>
										<select name="producto" id="producto" class="form-select">
										</select>
									</form>
								</div>
								<div class="col-md-3">
									<label for="">Cantidad</label>
									<input type="number" name="cantidad" id="cantidad" placeholder="Cantidad" class="form-control">
								</div>
								<div class="col-md-2" style=" display: flex; justify-content: center; align-items: end;	">
									<button class="btn btn-primary" onclick="addProductToTableHtml()">Agregar</button>
								</div>

							</div>
							<div class="mt-3">

								<table class="table">
									<thead>
										<tr>
											<td> Producto </td>
											<td> Precio </td>
											<td> Cantidad </td>
											<td> Subtotal </td>
											<td>Eliminar</td>
										</tr>
									</thead>
									<tbody id="table-body"></tbody>

								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="mt-3">
						<label for="fecha">Fecha</label>
						<input type="date" name="fecha" id="fecha" class="form-control">
					</div>
					<div class="mt-3">
						<label for="documento_contable_id">Documento contable</label>
						<select name="documento_contable_id" id="documento_contable_id" class="form-select">
							{% for documento_contable in documentos_contables %}
								<option value="{{documento_contable.id}}">{{documento_contable.nombre}}</option>
							{% endfor %}
						</select>
					</div>
					<div  class="mt-3">
						<label for="cliente_id"> Cliente</label>
						<select name="cliente_id" id="cliente_id" class="form-select">
							{% for cliente in clientes %}
								<option value="{{cliente.id}}">{{cliente.nombre_completo}}</option>
							{% endfor %}
						</select>
					</div>
				<hr>
				<div class="row">
					<div class="col-md-6">TOTAL</div>
					<div class="col-md-6 text-end" id="total"> S/ 0.00</div>
				</div>
				<div class="text-center mt-3">
					<button class="btn btn-primary w-100" onclick="clearSale()"> Guardar </button>
				</div>

				</div>

			</div>
		</div>
	</div>
</div>
<script src="./static/js/venta.js"></script>
{% endblock %}
